// I gather this file is a starting point for the project.
@import "compass";

// Use this file to override 
@import "variables";

// Imports bootstrap
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

@import "helpers/bootstrap-helpers";
@import "font-awesome";

body {
}

.markdown-body {
  H1, H2, H3, H4, H5, H6 {
    &.autolink {

    }

  }
}

.header {

}

.autolink {
  &:hover {
    .permalink {
      display: block;
      text-decoration: none;
      display: block;
      position: absolute;
      margin-left: -30px;
      padding-left: 0;

    }
  }
  .permalink {
    display: none;
    padding-left: 30px;
    margin-left: -30px;
  }
}
