<!-- Main hero unit for a primary marketing message or call to action -->
.hero-unit
  %h1 #{data.page.title || "Chubs Rocks!"}
  %pre
    :plain
      #{data.inspect.to_yaml}
      self:
      #{self}
  %p
    Studying
    %span.brand glycemia
    %i.icon-circle-blank{:style=> "color: blue;"}
    .markdown-body
      :markdown
        ## big idea one
          * http://en.wikipedia.org/wiki/Glycemia

        ### title variable: #{data.page.title}
        Chubbs is a [Middleman](http://middlemanapp.com/) template that helps you quick start 
        a static site using:
        * **C**ompass
        * **H**aml
        * **U**hu! (a.k.a. happiness)
        * **B**ootstrap (from twitter)
        * **B**oilerplate HTML 5
        * **S**ass

        ## Another big idea

    Compass
  %p
    %a.btn.btn-primary.btn-large{:href => ""} Learn more &raquo;
