.navbar.navbar-fixed-top
  .navbar-inner
    = partial "partials/github_ribbon"
    .container
      = link_to("Glycemia HTML5 #{data.page.name}", "/#", :class => 'brand')
      .nav-collapse
        %ul.nav
          %li{:class => data.page.name == 'index' ? 'active' : ''}
            %a(href="/") Home
          %li{:class => data.page.name == 'twocolumns' ? 'active' : ''}
            %a(href="twocolumns") Two Columns Layout
          %li{:class => data.page.name == 'contact' ? 'active' : ''}
            = link_to("Contact", "contact")
